<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerErrors="true"
>
	<testsuites>
		<testsuite name="Link in Bio Test Suite">
			<directory suffix=".php">tests/</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory suffix=".php">includes/</directory>
			<file>link-in-bio.php</file>
		</include>
	</source>
</phpunit>
